@font-face {
    font-family: Analogia_Regular;
    src: url("/src/font/analogia-regular.otf") format("opentype");
}

@font-face {
    font-family: Analogia_Italic;
    src: url("/src/font/Analogia-Italic.otf") format("opentype");
}

@font-face {
    font-family: Ironmonger_Black_Regular;
    src: url("/src/font/Ironmonger\ Black\ Regular.otf") format("opentype");
}

:root {
  --bg: #f3f3f3;
  --font: #3f3f3f;
  --red: #dc1051;
}

[data-theme="dark"] {
  --font: #f3f3f3;
  --bg: #3f3f3f;
}

/* --- CSS Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set default CSS */

body {
  background-color: var(--bg);
  color: var(--font);
  font-family: Analogia_Regular;
  /* letter-spacing: -0.014em; */
  /* cursor: none; */
}

.App {
  height: 100vh; 
}

/* Corsor */

.cursor {
    background-color: var(--font);
    width: 15px;
    height: 15px;
    /* cursor: none; */
    border-radius: 50px;
    position: absolute;
    z-index: 9999;
}

/* head title */

p {
  font-size: clamp(0.5rem, 1.3vw, 2rem);
}

h1 {
  font-family: Ironmonger_Black_Regular;
  font-size: 3rem;
  font-weight: normal;
}

h2 {
  flex: 1;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

h3 {
  font-size: clamp(0.5rem, 1.7vw, 2rem);
  font-weight: normal;
}

h4 {
  font-family: Analogia_Italic;
  font-size: 1.5rem;
  font-weight: normal;
}

/* pages */

.Page {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

/* menu */

.Menu {
  flex: 1 0 10vh; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.LogoMenu {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  margin-left: 4%;
  height: 100%;
  width: auto;
}

.LogoMenu h1 {
  color: var(--red);
  font-size: medium;
  flex: 1 0 auto;
}

.LogoMenu img {
  height: 50px;
  margin-left: 4%;
}

.Selector {
  flex: 0 0 25%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4%;
  height: 100%;
}

.Home button {
  background-color: var(--bg);
  color: var(--font);
  font-family: Analogia_Italic;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  border: solid var(--font) 1px;
}

.About button {
  background-color: var(--bg);
  color: var(--font);
  font-family: Analogia_Italic;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  border: solid var(--font) 1px;
}

.About .ButtonAbout {
  background-color: var(--font);
  color: var(--bg);
}

.Projects button {
  background-color: var(--bg);
  color: var(--font);
  font-family: Analogia_Italic;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  border: solid var(--font) 1px;
}

.Projects .ButtonProjects {
  background-color: var(--font);
  color: var(--bg);
}

/* Acceuil Main */

.AcceuilMain {
  flex: 1 0 90%;
  display: flex;
  align-items: flex-end;
}

.AcceuilMain p {
  font-size: 9vw;
  line-height: 1em;
  margin-left: 4%;
  margin-bottom: 2%;
}

/* Image Animated */

.LogoAnimatedHome {
  position: absolute;
  width: 97%;
  height: auto;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1%;
  z-index: 998;
}

.LogoAnimatedAbout {
  position: absolute;
  width: 97%;
  height: auto;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1%;
  z-index: -1;
}

/* page about */

.AboutPage header {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  margin-left: 4%;
  margin-right: 4%;
}

.Ancelin {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  gap: 4%;
}

.item {
  flex: 1;
}

.image {
  width: 30%;
  height: auto;
}

.Experiences {
  margin-top: 25px;
}

.TableExperiences {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.TableExperiences .item {
  display: flex;
}

.element {
  flex: 1;
}

.Services {
  margin-top: 25px;
}

.TableServices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  margin-top: 120px;
  margin-bottom: 120px;
}

/* project page */

.ProjectsPage {
  display: flex;
  flex-direction: column;
}

.ListProjects {
  display: flex;
  margin-top: 2%;
}

.ProjectsPage main {
  display: flex;
  height: 100%;
  margin: 2% 4% 0% 4%;
  gap: 4%;
}

.ProjectsPage .images {
  flex: 2;
  background-color: #3f3f3f;
}

.ProjectsPage .detail {
  flex: 1;
}

.ProjectsPage p {
  font-size: 17px;
}

/* project defilant */

.marquee-text-track h2 {
  white-space: nowrap;
}

.marquee-text {
  padding: 5px 0 2px 0;
  margin: 0 4% 0 4%;
  border-top: solid;
  border-bottom: solid;
  overflow: clip;
  margin-top: 2%;
}

.marquee-text-track {
  display: flex;
  gap: 5.8rem;
  padding-left: 5.8rem;
  width: max-content;
  white-space: nowrap;
  animation: marquee-move-text 10s linear infinite;
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}