@font-face {
    font-family: Analogia_Regular;
    src: url("/src/font/analogia-regular.otf") format("opentype");
}

@font-face {
    font-family: Analogia_Italic;
    src: url("/src/font/Analogia-Italic.otf") format("opentype");
}

@font-face {
    font-family: Ironmonger_Black_Regular;
    src: url("/src/font/Ironmonger\ Black\ Regular.otf") format("opentype");
}

:root {
  --bg: #f3f3f3;
  --font: #3f3f3f;
  --red: #dc1051;
}

[data-theme="dark"] {
  --font: #f3f3f3;
  --bg: #3f3f3f;
}

/* --- CSS Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set default CSS */

body {
  background-color: var(--bg);
  color: var(--font);
  font-family: Analogia_Regular;
  letter-spacing: -0.014em;
  /* cursor: none; */
}

.App {
  height: 100vh; 
}

/* Corsor */

.cursor {
    background-color: var(--font);
    width: 15px;
    height: 15px;
    /* cursor: none; */
    border-radius: 50px;
    position: absolute;
    z-index: 9999;
}

/* Acceuil Menu */

.Acceuil {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.AcceuilMenu {
  flex: 0 0 10%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AcceuilMenu img {
  width: 25%;
  height: auto;
  margin-left: 4%;
}

.menu {
  flex: 0 0 10%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4%;
  gap: 125px
}

.menu button {
  background-color: var(--bg);
  font-family: Analogia_Italic;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  border: solid var(--font) 1px;
}

.menu button:hover {
  background-color: var(--font);
  color: var(--bg);
  border-color: var(--bg);
}

/* Acceuil Main */

.AcceuilMain {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.AcceuilMain p {
  font-size: 9.5rem;
  line-height: 1em;
  margin-left: 4%;
  margin-bottom: 2%;
}

.AcceuilMain img {
  position: absolute;
  width: 97%;
  height: auto;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1%;
}