@font-face {
    font-family: Analogia_Regular;
    src: url("/src/font/analogia-regular.otf") format("opentype");
}

@font-face {
    font-family: Analogia_Italic;
    src: url("/src/font/Analogia-Italic.otf") format("opentype");
}

@font-face {
    font-family: Ironmonger_Black_Regular;
    src: url("/src/font/Ironmonger\ Black\ Regular.otf") format("opentype");
}

:root {
  --bg: #f3f3f3;
  --font: #3f3f3f;
  --red: #dc1051;
}

[data-theme="dark"] {
  --font: #f3f3f3;
  --bg: #3f3f3f;
}

/* --- CSS Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set default CSS */

body {
  background-color: var(--bg);
  color: var(--font);
  font-family: Analogia_Regular;
  /* letter-spacing: -0.014em; */
  /* cursor: none; */
}

.App {
  height: 100vh; 
}

/* Corsor */

.cursor {
    background-color: var(--font);
    width: 15px;
    height: 15px;
    /* cursor: none; */
    border-radius: 50px;
    position: absolute;
    z-index: 9999;
}

/* Menu */

.Page {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.Menu {
  flex: 0 0 10%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NomInfam {
  width: 25%;
  height: auto;
  margin-left: 4%;
}

.LogoInfam {
  width: 5.5%;
  height: auto;
  margin-left: 4%;
}

.Selector {
  flex: 0 0 10%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4%;
  gap: 125px
}

.Home button {
  background-color: var(--bg);
  color: var(--font);
  font-family: Analogia_Italic;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  border: solid var(--font) 1px;
}

.About button {
  background-color: var(--bg);
  color: var(--font);
  font-family: Analogia_Italic;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  border: solid var(--font) 1px;
}

.About .ButtonAbout {
  background-color: var(--font);
  color: var(--bg);
}

.Projects button {
  background-color: var(--bg);
  color: var(--font);
  font-family: Analogia_Italic;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 50%;
  border: solid var(--font) 1px;
}

.Projects .ButtonProjects {
  background-color: var(--font);
  color: var(--bg);
}

/* Acceuil Main */

.AcceuilMain {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.AcceuilMain p {
  font-size: 9.5rem;
  line-height: 1em;
  margin-left: 4%;
  margin-bottom: 2%;
}

/* Image Animated */

.LogoAnimatedHome {
  position: absolute;
  width: 97%;
  height: auto;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1%;
  z-index: 999;
}

.LogoAnimatedAbout {
  position: absolute;
  width: 97%;
  height: auto;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1%;
  z-index: -1;
}

/* page about */

.AboutPage header {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  margin-left: 4%;
  margin-right: 4%;
}

.AboutPage p {
  font-size: clamp(0.5rem, 1.3vw, 2rem);
}

.AboutPage h1 {
  font-family: Ironmonger_Black_Regular;
  font-size: 3rem;
}

.AboutPage h2 {
  font-family: Analogia_Italic;
  font-size: 1.5rem;
}

.Ancelin {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  gap: 4%;
}

.item {
  flex: 1;
}

.image {
  width: 30%;
  height: auto;
}

.Experiences {
  margin-top: 25px;
}

.TableExperiences {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.TableExperiences .item {
  display: flex;
}

.element {
  flex: 1;
}

.Services {
  margin-top: 25px;
}

.TableServices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 120px;
  margin-bottom: 120px;
}
